In [2]:
import pandas as pd
import numpy as np

In [3]:
## Load dataset
# db = pd.read_csv(".//input//Crimes_-_2001_to_present.csv", sep=",", dtype='unicode')
db = pd.read_csv(".//input/db_thefts.csv")

In [4]:
## Split dataset

old = 0
cf = 1
# parts = 70
parts = 4
thd = int(np.round(len(db)/parts, 0))

for i in range(0, len(db), thd):    
    # db.iloc[i:i + thd].to_csv(".//input//Crimes_2001_csvs//Crimes_2001_csv_" + str(cf) + ".csv"
    db.iloc[i:i + thd].to_csv(".//input//db_thefts_" + str(cf) + ".csv"
                              , index_label = False
                             , float_format='%g')
    cf = cf + 1

In [10]:
## Join dataset

def loaddbTH():
    # prefix = ".//input//Crimes_2001_csvs//Crimes_2001_csv_"
    prefix = ".//input//db_thefts_"
    cf = 1
    # parts = 70
    parts = 4

    for cf in range(0, parts):
        tmp = pd.read_csv(prefix + str(cf + 1) + ".csv") 
        if cf == 0:
            db2 = tmp
        else:
            tmp = [db2, tmp]
            db2 = pd.concat(tmp)
        del tmp
    db2 = db2.set_index('Date')
    return db2
dbTH = loaddbTH()

In [12]:
dbTH

                     Latitude  Longitude
Date
2019-05-15 22:30:00   41.8975   -87.6931
2019-04-27 11:00:00   41.6862   -87.6519
2019-05-14 10:00:00   41.8526   -87.7124
2019-05-04 14:00:00   41.8976   -87.6232
2019-05-19 13:30:00   41.7814   -87.6084
...                       ...        ...
2015-03-17 22:00:00   41.8523   -87.6361
2015-03-18 19:22:00   42.0152   -87.6973
2015-03-13 23:00:00   42.0176   -87.6720
2015-03-18 16:45:00   41.8423   -87.6544
2015-03-18 19:45:00   41.8847   -87.6279

[1342579 rows x 2 columns]